<div class="container">
    <div class="row">
        <h3>Dashboard</h3>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of usersArray">
            <div class="box-detail">
                <ul>
                    <li>{{item.firstName}}      {{item.lastName}} </li>
                    <li>{{item.email}} </li>
                    <li>{{item.register_date}}</li>
                    <li><button class="btn btn-danger btn-sm" (click)="deleteUser(item.email)">delete</button></li>
                </ul>
            </div>
        </div>
    </div>

</div>